#### This python tool converts excel files data into gdx

See sheet name 'py' in the excel files that describes sets and parameters settings. Similar approach for https://www.gams.com/latest/docs/T_GDXXRW.html

Particularly useful for linux and ios where GDXXRW.exe is not compatible, see here: https://forum.gamsworld.org/viewtopic.php?t=10418#p24019

Required library:
 - gdxpds
 - pandas
 - openpyxl
 
<font color='red'>If you find and error in the code, please rise and issue here.</font>

In [1]:
from exceltogdx import exceltogdx

In [2]:
frames = exceltogdx('test.xlsx','test.gdx') # have a look at the "test.xlsx" file.
                                            # For further details see the "py" sheet in the file.

set:  h
set:  song
set:  band
set:  month
par:  soldsongs
par:  streaming
generating gdx file...
Done!

In [3]:
from IPython.display import display
for key, df in frames.items():
    print(key)
    display(df)

h

    *         value
0  h1  c_bool(True)
1  h2  c_bool(True)
2  h3  c_bool(True)
3  h4  c_bool(True)
4  h5  c_bool(True)

song

       *         value
0  song1  c_bool(True)
1  song2  c_bool(True)
2  song3  c_bool(True)
3  song4  c_bool(True)
4  song5  c_bool(True)
5  song6  c_bool(True)
6  song7  c_bool(True)

band

         *         value
0  nirvana  c_bool(True)
1    oasis  c_bool(True)
2       u2  c_bool(True)

month

     *         value
0  jan  c_bool(True)
1  jul  c_bool(True)

soldsongs

     *      *  value
0   h1  song1      1
1   h1  song2      2
2   h1  song3      3
3   h1  song4      4
4   h1  song5      5
5   h1  song6      6
6   h1  song7      7
7   h2  song1      8
8   h2  song2      9
9   h2  song3     10
10  h2  song4     11
11  h2  song5     12
12  h2  song6     13
13  h2  song7     14
14  h3  song1     15
15  h3  song2     16
16  h3  song3     17
17  h3  song4     18
18  h3  song5     19
19  h3  song6     20
20  h3  song7     21
21  h4  song1     22
22  h4  song2     23
23  h4  song3     24
24  h4  song4     25
25  h4  song5     26
26  h4  song6     27
27  h4  song7     28
28  h5  song1     29
29  h5  song2     30
30  h5  song3     31
31  h5  song4     32
32  h5  song5     33
33  h5  song6     34
34  h5  song7     35

streaming

      *   *        *      *  value
0   jan  h1  nirvana  song3    3.0
1   jan  h1  nirvana  song4    4.0
2   jan  h1    oasis  song5    5.0
3   jan  h1    oasis  song6    6.0
4   jan  h1    oasis  song7    7.0
..  ...  ..      ...    ...    ...
65  jul  h5    oasis  song5   68.0
66  jul  h5    oasis  song6   69.0
67  jul  h5    oasis  song7   70.0
68  jul  h5       u2  song1   64.0
69  jul  h5       u2  song2   65.0

[70 rows x 5 columns]